<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/remoteClient.js"></script>
	<script type="text/javascript" src="js/bezierEasing.js"></script>
	<script type="text/javascript" src="js/loadingAnimations.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remote Raspberry</title>
</head>
<body>

   

	<h1 class="text-center">
		<span style="color:#5ab325">Raspberry<span> 
		<span style="color:#d8234e">Remote<span>
	</h1>

	<div class="controls controls-row container-fluid">

      {{{body}}}

  	</div>

</body>
</html>