<h2 class="text-center">Light Switch</h2>
<!-- <div class="row">
		<div class="col-md-6">
			<button data-id="8" data-toggleState="" class="btn btn-block btn-default command">LIIIIGHT</button>
		</div>
		
  </div> -->

  	<div class="gravatar transitions data-id="8" data-toggleState="" class="command"">
					
					
					<img src="images/lamp.png"/>
					
					<canvas height="100%" width="100%" class="circleCanvas circleSvg transitions"></canvas>
					<div class = "message transitions"></div>
	</div>   