<h2 class="text-center">Light Switch</h2>

  	<div class="gravatar transitions command"  data-id="8" data-toggleState="">
					
					<div class="imgContainer">
						<img src="images/lamp.png"/>
					</div>	
					
					<canvas height="100%" width="100%" class="circleCanvas circleSvg transitions"></canvas>
					<div class = "message transitions"></div>
	</div>   
  	<div class="gravatar transitions command"  data-id="2" data-command='1'>
					
					<div class="imgContainer">
						<img src="images/coffee.png"/>
					</div>	
					
					<canvas height="100%" width="100%" class="circleCanvas circleSvg transitions"></canvas>
					<div class = "message transitions"></div>
	</div>   
